html 
    head 
        title new page 
        meta(charset='utf-8')
    body 
        a(href='/')
            h1 Practice Single Page 
        
        a(href='/signUp')
            h1 Sign UP
        a(href='/signIn')
            h1 Sign In
